input[type="number"] {
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    /* width: 100%; */
    padding: 10px;
    background-color: #28a745;
    /* color: white; */
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}
  
button:hover {
    background-color: #218838;
    color: white;
}